DOCTYPE
html
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='stylesheet', href='/static/css/styles.css')
        title Chess
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(type='text/javascript', src='/static/js/chess.js')
    body
        div(class="header")
            h1 Chess
        div(class="div-timer")
            span(class="spn-moves-title") Moves:
            span(class="spn-moves") 0
            span(class="spn-moves-title") Play-turn:
            span(class="spn-turn") white
            span(class="spn-timer-title") Timer: 
            span(class="spn-timer") 00:00:00
        div(class="game-window")
            div(class="chess-column white", id="00")
                img(class="chess-piece second-click",src="static/images/black/rook.png", id="img00")
            div(class="chess-column black", id="01")
                img(class="chess-piece second-click",src="static/images/black/knight.png", id="img01")
            div(class="chess-column white", id="02")
                img(class="chess-piece second-click",src="static/images/black/bishop.png", id="img02")
            div(class="chess-column black", id="03")
                img(class="chess-piece second-click",src="static/images/black/queen.png", id="img03")
            div(class="chess-column white", id="04")
                img(class="chess-piece second-click",src="static/images/black/king.png", id="img04")
            div(class="chess-column black", id="05")
                img(class="chess-piece second-click",src="static/images/black/bishop.png", id="img05")
            div(class="chess-column white", id="06")
                img(class="chess-piece second-click",src="static/images/black/knight.png", id="img06")
            div(class="chess-column black", id="07")
                img(class="chess-piece second-click",src="static/images/black/rook.png", id="img07")
            div(class="chess-column black", id="10")
                img(class="chess-piece second-click",src="static/images/black/pawn.png", id="img10")
            div(class="chess-column white", id="11")
                img(class="chess-piece second-click",src="static/images/black/pawn.png", id="img11")
            div(class="chess-column black", id="12")
                img(class="chess-piece second-click",src="static/images/black/pawn.png", id="img12")
            div(class="chess-column white", id="13")
                img(class="chess-piece second-click",src="static/images/black/pawn.png", id="img13")
            div(class="chess-column black", id="14")
                img(class="chess-piece second-click",src="static/images/black/pawn.png", id="img14")
            div(class="chess-column white", id="15")
                img(class="chess-piece second-click",src="static/images/black/pawn.png", id="img15")
            div(class="chess-column black", id="16")
                img(class="chess-piece second-click",src="static/images/black/pawn.png", id="img16")
            div(class="chess-column white", id="17")
                img(class="chess-piece second-click",src="static/images/black/pawn.png", id="img17")
            div(class="chess-column white", id="20")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img20")
            div(class="chess-column black", id="21")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img21")
            div(class="chess-column white", id="22")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img22")
            div(class="chess-column black", id="23")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img23")
            div(class="chess-column white", id="24")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img24")
            div(class="chess-column black", id="25")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img25")
            div(class="chess-column white", id="26")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img26")
            div(class="chess-column black", id="27")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img27")
            div(class="chess-column black", id="30")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img30")
            div(class="chess-column white", id="31")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img31")
            div(class="chess-column black", id="32")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img32")
            div(class="chess-column white", id="33")
                img(class="chess-piece second-click",src="static/images/white/knight.png", id="img33")
            div(class="chess-column black", id="34")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img34")
            div(class="chess-column white", id="35")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img35")
            div(class="chess-column black", id="36")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img36")
            div(class="chess-column white", id="37")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img37")
            div(class="chess-column white", id="40")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img40")
            div(class="chess-column black", id="41")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img41")
            div(class="chess-column white", id="42")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img42")
            div(class="chess-column black", id="43")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img43")
            div(class="chess-column white", id="44")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img44")
            div(class="chess-column black", id="45")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img45")
            div(class="chess-column white", id="46")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img46")
            div(class="chess-column black", id="47")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img47")
            div(class="chess-column black", id="50")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img50")
            div(class="chess-column white", id="51")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img51")
            div(class="chess-column black", id="52")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img52")
            div(class="chess-column white", id="53")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img53")
            div(class="chess-column black", id="54")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img54")
            div(class="chess-column white", id="55")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img55")
            div(class="chess-column black", id="56")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img56")
            div(class="chess-column white", id="57")
                img(class="chess-piece second-click",src="static/images/blank.png", id="img57")
            div(class="chess-column white", id="60")
                img(class="chess-piece second-click",src="static/images/white/pawn.png", id="img60")
            div(class="chess-column black", id="61")
                img(class="chess-piece second-click",src="static/images/white/pawn.png", id="img61")
            div(class="chess-column white", id="62")
                img(class="chess-piece second-click",src="static/images/white/pawn.png", id="img62")
            div(class="chess-column black", id="63")
                img(class="chess-piece second-click",src="static/images/white/pawn.png", id="img63")
            div(class="chess-column white", id="64")
                img(class="chess-piece second-click",src="static/images/white/pawn.png", id="img64")
            div(class="chess-column black", id="65")
                img(class="chess-piece second-click",src="static/images/white/pawn.png", id="img65")
            div(class="chess-column white", id="66")
                img(class="chess-piece second-click",src="static/images/white/pawn.png", id="img66")
            div(class="chess-column black", id="67")
                img(class="chess-piece second-click",src="static/images/white/pawn.png", id="img67")
            div(class="chess-column black", id="70")
                img(class="chess-piece second-click",src="static/images/white/rook.png", id="img70")
            div(class="chess-column white", id="71")
                img(class="chess-piece second-click",src="static/images/white/knight.png", id="img71")
            div(class="chess-column black", id="72")
                img(class="chess-piece second-click",src="static/images/white/bishop.png", id="img72")
            div(class="chess-column white", id="73")
                img(class="chess-piece second-click",src="static/images/white/queen.png", id="img73")
            div(class="chess-column black", id="74")
                img(class="chess-piece second-click",src="static/images/white/king.png", id="img74")
            div(class="chess-column white", id="75")
                img(class="chess-piece second-click",src="static/images/white/bishop.png", id="img75")
            div(class="chess-column black", id="76")
                img(class="chess-piece second-click",src="static/images/white/knight.png", id="img76")
            div(class="chess-column white", id="77")
                img(class="chess-piece second-click",src="static/images/white/rook.png", id="img77")